web-ext-artifacts/
__pycache__/
Backendx/networks/generator.zip
Backendx/manga/*
.vs/

settings.json
Backend/.DS_Store
Backend/networks/generator.zip
.DS_Store

# Knowledge Database
manga_colorizer_knowledge.db
